.dropZone {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-300);
  color: white;
}

.dropIcon {
  font-size: 50px;
}
